
{% extends 'olives/base.html' %} 
{% load static %} 

{% block title_block %}
Gallery
{% endblock %}

{% block body_block %}

    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading text">
                    <p> Take a sneak peak of what dishes Olives and Pesto have in store this season.. </p>
                </div>
                
                <div class="row">

                    <div class="col-md-4 col-lg-4 item">
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food5.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food5.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food3.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food3.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food6.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food6.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food2.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food2.jpg" %}"></a>
                        <p class="mb-4"> </p>
                    </div>

                    <div class="col-md-4 col-lg-4 item">
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food8.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food8.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/bar2.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/bar2.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food4.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food4.jpg" %}"></a>
                        <p class="mb-4"> </p>
                    </div>

                    <div class="col-md-4 col-lg-4 item">
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food7.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food7.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food10.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food10.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/italian_food9.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/italian_food9.jpg" %}"></a>
                        <p class="mb-4"> </p>
                        <a class="lightbox" href="{% static "img/gallery-food/coffee.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/coffee.jpg" %}"></a>
                        <p class="mb-4"> </p>
                    </div>

                </div>

            </div>
        </section>
    </main>

{% endblock %}




