
{% extends 'olives/base.html' %} 
{% load static %} 

{% block title_block %}
Special events
{% endblock %}

{% block body_block %}

    <main class="page">
        <section class="clean-block about-us bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h4 class="mt-5 p-5 text-white"> Olives and Pesto's Annual food festival is back! </h4>
                        <p class = "p-3 mb-2 text-light"> After the huge success of our Olives and Pesto Food and Drink Festival 2020, one of Scotland’s most prestigious food festivals, our Springfest Festival will return in 2021! We will be back on the 4th & 5th April with another fantastic line up of food and drink producers, live music, mixologist master classes and chef demonstrations. With a great line up of talent and tempting food and drink from both local producers and from across the UK next year’s festival at Loch Lomond Shores is shaping up to be our best yet!
                        </p>
                        <p class = "p-3 mb-2 text-light">
                        Running from 10am to 6pm each day the festival is full of great things to see and do that will keep you busy all day. Watch top chefs cook some of their favourite recipes, enjoy a line-up of interesting and exciting entertainment, while enjoying a drink at our outside bar area.
                        </p>
                        <p class = "p-3 mb-2 text-light">
						With over 80 food and drink producers featuring everything from hot food to luxury packaged produce, festival goers can enjoy great quality food on the day and take home some tempting treats to enjoy at home.</p>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <img src="{% static "img/events/festival.jpg" %}" class="img-fluid pt-4" alt="Responsive image">
                    </div>

                </div>
                <div class="row top-buffer">
                    <div class="col-sm-6 col-lg-6">
                        <img src="{% static "img/events/wine.jpg" %}" class="img-fluid pt-4" alt="Responsive image">
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <h4 class="mt-5 p-5 text-white">Wine Tastings</h4>
                        <p class = "p-3 text-light "> Starting from as little as £22.50, our Glasgow Single Evening Wine Tastings are a great opportunity to try out a tasting and meet others who share your enjoyment of wine. The types of evening available are varied and always changing, from our Introduction to Wine Tasting courses and World of Wine courses to our Fine Wine Tasting Events - with plenty to choose from, there is always something new to try. Each Wine Tasting evening is suitable for anyone, from the complete beginner to the fully experienced!

                        The price for all the one evening wine tastings include a minimum of six wines, tasting notes on the selected wines and a tutored tasting with digital projection equipment and course materials. Professional ISO tasting glasses are provided.</p>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-6 col-lg-6">
                    <h4 class="mt-5 p-5 text-white">Cocktail Masterclass</h4>
                    <p class="p-3 mb-5 text-light"> Mixology Events’ 100% interactive, award-winning cocktail making classes in Glasgow are based at our Olives and Pesto restaurant, with the option of taking them with us anywhere across the UK. No matter how big or small your group may be, our fully-customisable cocktail making class is centred around a fully interactive experience for every single guest.</p>                    
                    <img src="{% static "img/events/ingredients.jpg" %}" class="img-fluid pt-5 mt-5" alt="Responsive image">
                    <h4 class="mt-5 p-5 text-white">Four Course Tasting Menu with Wine Pairings for Two at the Olives Bistro Room</h4>
                    <p class="p-3 mb-5 text-light">
                    Take a gourmet journey together with this Four Course Tasting Menu with Wine Pairings for Two at Olives and Pesto. You and a lucky loved one will be dining in style in the charming Olives Bistro Room, with an expertly paired wine to elevate the flavours of each course.
                    </p>
                    <p class="p-3 mb-5 text-light">
					Championing unpretentious yet elegant dining, Olives Bistro Room has made a name for itsself across the UK, known for fine wines, fine food and an ambience to match. You and a loved one can tuck into four courses from a carefully curated tasting menu, complete with a glass of wine selected by the sommelier. For a romantic date, special occasion or simply some quality time, Hotel du Vin ticks all the boxes.</p>
					</p>
                    <img src="{% static "img/events/tasting.jpg" %}" class="img-fluid pt-5 mt-5" alt="Responsive image">



                    </div>

                    <div class="col-sm-6 col-lg-6">
                    <img src="{% static "img/events/cocktail.jpg" %}" class="img-fluid pt-4 pb-5 mb-5" alt="Responsive image">
                    <p class="m-5 p-5"> </p>
                    <img src="{% static "img/events/bistro.jpg" %}" class="img-fluid pt-5 mt-5" alt="Responsive image">
                    </div>

                </div>

            </div>
        </section>
    </main>

 
{% endblock %}



 