{% extends 'olives/base.html' %}
{% load static %}

{% block title_block %}
    This is to display the staff
{% endblock %}

{% block body_block %}
<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text">This is to display the list of staff</h2>
            </div>

        {% for staff in users %}
            {% if staff.is_staff%}
                <h4>This is a staff member</h4>
                <li>{{ staff }}</li> </br>
            {% else %}
                <h6>This is not a staff member</h6>
                <li>{{ staff }}</li> </br>
            {% endif %}
        {% endfor %}


        </div>
    </section>
</main>
{% endblock %}