{% extends 'olives/base.html' %}

{% block title_block %}
    Staff Register
{% endblock %}

{% block body_block %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text">Staff Sign up</h2>
                </div>

                <form class="form" id="register_form" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <button class="btn btn-outline-light btn-lg btn-form center" type="submit">Sign up</button>
                </form>

            </div>
        </section>
    </main>
{% endblock %}
