{% extends 'olives/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text">Register Here</h2>
            </div>

            <form class="form" method="POST" action=".">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                <input class="btn btn-outline-light btn-lg btn-form center" type="submit" value="Register">
            </form>
        </div>
    </section>
</main>
{% endblock %}